.swiper-wrapper{ height: 100vh !important;
margin-bottom:400px;}
.section {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .swiper-container {
    height: calc(100% - 50px);
    overflow-y: scroll;
    transition: height 1s; /* 스크롤 높이 전환 효과 */
  }
  
  .swiper-container.scrolling {
    height: 100%; /* 내부 스크롤 중에는 섹션 높이로 확장 */
  }
  
  /* 예제 스와이퍼 내용에 대한 스타일링 */
  .swiper-content{
    margin: 0 auto;
  }