.wrap {
  background-color: #e2e2e2;
}

.modal {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: 520px;
  background-color: #fff;
  border-radius: 0.3rem;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.modal>img {
  width: 100%;
  border-radius: 0.3rem;
}

.home-btn {
  width: 180px;
  height: 54px;
  background: #26AF66;
  border-radius: 0.3rem;
  padding: 1.25rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.4rem;
}

.modal-icon {
  font-size: 5.2rem;
  color: #26AF66;
}