@charset "utf-8"
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-16-9 {
    @apply aspect-w-16 aspect-h-9;
  }
}

* {
  font-family: "Pretendard-Regular" !important;
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: -0.25px;
}

ol,
ul {
  list-style: none;
}
.mainwidth {
  width: 100%;
  max-width: 1600px;
}

p {
  margin: 0;
}

.footer-nav-list > a {
  display: block;
  font-size: 0.875rem;
  color: #9f9f9f;
  white-space: nowrap;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
  /* 폰트 파일 경로를 적절하게 수정하세요. */
  font-weight: normal;
  font-style: normal;
}

.swiper-button-prev {
  display: hidden;
}
.swiper-button-next {
  background-color: #fff;
  opacity: 0.6;
  height: 250px;
  width: 250px;
  border-radius: 70%;
  color: black !important;
  margin-right: 100px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
