@charset "utf-8"
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-16-9 {
    @apply aspect-w-16 aspect-h-9;
  }
}



* {
  font-family: 'NanumSquareAc', sans-serif;
  margin: 0;
  padding: 0;
  word-break: keep-all;

}

body {
  letter-spacing: -0.5px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.mainwidth {
  width: 100%;
  max-width: 1600px;
  padding: 0 2rem;
}

p {
  margin: 0;
}

.footer-nav-list>a {
  display: block;
  font-size: 0.875rem;
  color: #9f9f9f;
  white-space: nowrap;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

/* 프리텐다드 font-Weight 두께변경 될 수 있도록 변경 23.10.10_수정자 김택용*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

/* 나눔스퀘어 폰트 추가 23.10.17_수정자 김택용*/
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
  /* 폰트 파일 경로를 적절하게 수정하세요. */
  font-weight: normal;
  font-style: normal;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  content: url("../../public/assets/arrow.png");
  width: 48px !important;
  /* 네비게이션 버튼의 너비를 조정할 수 있습니다. */
  height: 48px !important;
  /* 네비게이션 버튼의 높이를 조정할 수 있습니다. */
  border-radius: 70%;
  padding: 14px;
  backdrop-filter: blur(5px);
  position: absolute;
  right: 5% !important;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next::after {
  content: url("../../public/assets/arrow.png");
  font-size: 1.8rem;
  /* 아이콘 크기를 조정할 수 있습니다. */
  font-weight: 500;
  color: #000;
  /* 아이콘 색상을 조정할 수 있습니다. */
}

.vertical-line {
  width: 2px;
  height: 18.5625rem;
  background-color: #f0f0f0;
  margin-left: 27.875rem;
}

.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 1s;
  font-size: 5.625rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #4e4e4e;
}

.flow-wrap-left {
  animation: textloop 40s linear infinite;
  padding: 1rem;
}

.flow-wrap-right {
  animation: textloop 40s linear infinite;
  padding: 1rem;
  animation-direction: reverse;
}

@keyframes textloop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.text-stroke {
  -webkit-text-stroke: 1px black;
  /* 웹킷 브라우저용 */
  text-stroke: 1px black;
  -webkit-text-fill-color: white;
  /* 텍스트 내용이 채워지지 않게 하려면 */
}

.ant-dropdown-menu-item:hover {
  background-color: transparent !important;
  /* 기타 필요한 스타일 변경 */
}

.ant-dropdown-menu-item:hover .ant-dropdown-menu-title-content {
  /* 텍스트 컬러 변경 */
}

.ant-btn:hover {
  background-color: transparent !important;
}

.Dimmed {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}