.after-layout {
    position: relative;
}

.after-layout::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #B2B2B2;
    right: 20%;
    top: -10%;
    z-index: -1;
}

.m_slide_text_box {
    width: 100%;
    padding: 0 2rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


.tab_contant {
    padding: 2.4rem 0;
}

.tab_img {
    width: 80%;
}


.ant-tabs-nav-list {
    width: 10%;
}

.ant-tabs-tab {
    width: 25%;
    display: flex;
    justify-content: center;
}

.ant-tabs-top>.ant-tabs-nav::before,
.ant-tabs-bottom>.ant-tabs-nav::before,
.ant-tabs-top>div>.ant-tabs-nav::before,
.ant-tabs-bottom>div>.ant-tabs-nav::before {
    border: transparent !important;
}